.App{
  background-image: linear-gradient(to bottom right, rgb(27, 28, 27), rgb(19, 80, 62));
  /* font-family: 'Montserrat', sans-serif; */
}


html, body {
  width: 100%;
  height: 100%;
  margin : 0px;
  padding : 0px;
  overflow-x: hidden;
} 

body {

 
  /* background-repeat: no-repeat; */
  

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.name-heading{
  font-family: 'Caveat', cursive;
  font-size: 4rem;
}

.about{

  font-size: 1.3rem;
  font-family: 'Source Code Pro', monospace;
}

.profile-heading {
  font-family: 'Caveat', cursive;
  font-size: 4rem;
}

.profile-img{
  width: 40%;
  /* height: 100%; */
  object-fit: cover;
  border-radius: 50%;
  border: 7px solid white;
  margin-left: auto;
  margin-right: auto;
}

.profile-pic-div
{
    /* display: flex; */
    /* justify-content: center; */
    /* text-align: center; */
    padding: 2rem;
}

.intro{

  text-align: center;
  /* background-image: linear-gradient(to bottom right, rgb(27, 28, 27), rgb(19, 80, 62)); */
  display: flex;
  justify-content: center;
  color: white;
  padding : 2rem;

}



.about
{
  padding : 2rem;
  text-align:center;
}

.profile-section
{
  margin-top: 5rem;
    text-align: center;
    /* background-image: linear-gradient(to top right, rgb(27, 28, 27), rgb(19, 80, 62)); */
    color: white;
}


.profiles
{
  /* background-image: linear-gradient(to top right, rgb(27, 28, 27), rgb(19, 80, 62)); */
  /* color: white; */
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
}

.profile-icon-div
{
  margin-top : 1rem;
  margin-bottom: 1rem;
}

.skills-heading{
  font-family: 'Caveat', cursive;
  font-size: 4rem;
}

.skill-desc{
  font-size: 1.3rem;
  font-family: 'Source Code Pro', monospace;
}

.skills
{
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  /* background-image: linear-gradient(to top right, rgb(27, 28, 27), rgb(19, 80, 62)); */
  color: white;
  display: flex;
  justify-content: space-around;
}

.skill-icon-div
{
  /* border: solid 1px white; */
  padding: 2rem;
  /* width : 35%; */
  /* border-radius: 10px; */
}

.skill-icon
{
  width: 40%;
  object-fit: contain;
}

.skills-container
{
  /* background-image: linear-gradient(to top right, rgb(27, 28, 27), rgb(19, 80, 62)); */
  color: white;
  /* width: 80%; */
  text-align: center;
  margin-top: 5rem;
}

.skill-name
{
  margin-top: 1rem;
  text-align: center;
  /* font-size: 1.5rem; */
  font-size: 120%;
}

@media (max-width : 500px) {

  .name-heading{
    font-family: 'Caveat', cursive;
    font-size: 3rem;
  }

  .skills-heading{
    font-family: 'Caveat', cursive;
    font-size: 4rem;
  }

  .profile-heading {
    font-family: 'Caveat', cursive;
    font-size: 4rem;
  }

  .skill-icon
{
  width: 100%;
  object-fit: contain;
}
  
}